BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
ADMIN_IDS=[123456789]
DEVELOPER_IDS=[987654321,111222333]
SERVERS=[{"name":"prod","host":"10.0.0.1","port":22,"username":"deploy","keyEnv":"SSH_KEY_PROD","apps":["api","web"]}]
SSH_KEY_PROD="-----BEGIN OPENSSH PRIVATE KEY-----\n...\n-----END OPENSSH PRIVATE KEY-----"
